# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# IDE directories
.idea/
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Database files
*.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# Secrets
bot_token.py

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Editor temporary files
*.swp
*.bak
*.tmp

# Miscellaneous
*.DS_Store
*.swp
*.bak
*.tmp

.env
